#index{
    .classify{
        .classifyBody{
            .title{
                p{
                    font-size: 18px;
                    font-weight: bold;
                    line-height: 48px;
                    text-align: center;
                    color: #181818;
                }
            }
        }
    }
    
}
